body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/*Font size*/
h1 {
    font-size: 40px;
    font-family: 'Oswald';
}
h2 {
    font-size: 35px;
    font-family: 'Oswald';
    font-weight: 700;
}
h3 {
    font-size: 25px;
    font-family: 'Oswald';
    font-weight: 600;
}
h4 {
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: 400;
}
h5 {
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 700;
}
p {
    font-size: 14px;
    font-family: 'Open sans';
    font-weight: 400;  
}
/*Navbar*/
#color-nav {
    background-color: #660066 !important;
    padding-top: 2.4px;
    padding-bottom: 2.4px;
}
.logo-navbar {
    font-family: 'Oswald';
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 21px;      
}
#navbarNavDropdown {
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;   
}
.navbar-toggler {
    border: 1px solid;
    color: #FFFFFF7F ;
    border-color: #FFFFFF7F !important;
    margin-right: 21px;
} 
/*hero-section*/
.hero-section {
    height: 500px;
    background-image: url("../img/nati-01.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0.125em 0.25em 0.125em #707070;
    margin-top: 60px;
    text-align: center;
}
.hero-section h1 {
    font-weight: 200;
}
#subtitulo {
    font-weight: 700;
}
.texto-hero {
    padding-top: 380px;
}
/*Sobre Mi*/
.about-me-section {
    display: none;
}
/*Estudios*/
#estudios {
    text-align: center;
    padding-top: 36px;
}
.estudios1 {
    margin-bottom: 38px;
}
.estudios2 {
    margin-bottom: 47px;
}
#estudios h2 {
    padding-bottom: 54px;
}
.estudios1 h3 {
    font-weight: 600;
}
.estudios2 h3 {
    font-weight: 600;
}
#fecha-estudio1 {
    font-family: "Open sans";
    font-weight: 300;
}
#fecha-estudio2 {
    font-family: "Open sans";
    font-weight: 300;
}
/*Ultimos trabajos*/
.ultimos-trabajos {
    background-color: #660066;
}
.ultimos-trabajos h2 {
    text-align: center;
    padding-top: 60px;
    color: #ffffff;
}
.card {
    border-color: #660066;
    margin-top: 40px;
}
.ultimos-trabajos img {

    margin-bottom: 16px;
}
.card-body1 {
    height: 200px;
    padding-left: 20px;
}
.card-body1 a {
    font-size:  20;
    font-weight: 600; 
    font-family: "Open sans";
}
#trabajos {
    padding-bottom: 50px;
}
/*Herramientas*/
#carousel-herramientas {
    display: none;
}
/*Seccion Formulario*/
.seccion-formulario {
    text-align: center;
    margin-top: 35px;
}
.seccion-formulario h2 {
    margin-bottom: 80px;
}
.boton-contacto {
    margin-bottom: 80px;
}
/*Footer*/
.icons-section {
    height: 215px;
    background-color: #660066;
    text-align: center;
}
.redes-iconos i {
    color: #ffffff;
}
.redes h5 {
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 10px;
}

@media (min-width: 480px) {
    h1 {
        font-size: 72px;
        font-family: 'Oswald';
    }
    h2 {
        font-size: 52px;
        font-family: 'Oswald';
        font-weight: 700;
    }
    h4 {
        font-size: 24px;
        font-family: 'Oswald';
        font-weight: 400;
    }
    h5 {
        font-size: 40px;
    }
    p {
        font-size: 16px;
        font-family: 'Open sans';
        font-weight: 400;  
    }
/*hero-section*/
    .hero-section {
        height: 737px;
        background-image: url("../img/nati.png");
    }
    .texto-hero {
        padding-top: 520px;
    }
/*Sobre Mi*/
    .about-me-section {
        display: block;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 86px;
    }
    .about-me-section h3 {
        text-align: center;
        padding-bottom: 46px;
    }
    .about-me-section p {
        line-height: 35px;
        text-align: justify;
    }
/*Estudios*/
    .contenido-estudios {
        margin-right: 0px;
    }
    .estudios1 {
        margin-bottom: 0;
    }
    .estudios2 {
        margin-bottom: 88px;
    }
/*Herramientas*/
    #carousel-herramientas {
        display: block;
    }
    #carousel-bg {
        background-color: #51c0db7a !important;
    }
    .carousel-indicators {
        top:50px;
    }    
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    #carousel-bg {
        background-color: #51c0db7a !important;
    }
    .carousel-indicators {
        top:50px;
    }    
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
/*Seccion Formulario*/
    .seccion-formulario {
        margin-top: 80px;
    }
    .seccion-formulario h2 {
        margin-bottom: 200px;
    }
    .boton-contacto {
        margin-bottom: 200px;
    }
/*Footer*/
    .icons-section {
        height: 220px;
    }
    .redes h5 {
        padding-top: 85px;
    }
    .redes-iconos {
        padding-top: 78px;
    }

}
