body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', 'Open Sans', sans-serif;
  }
h1 {
    font-size: 40px;
    font-family: 'Oswald';
}
h2 {
    font-size: 35px;
    font-family: 'Oswald';
    font-weight: 700;
}
h3 {
    font-size: 25px;
    font-family: 'Oswald';
    font-weight: 600;
}
h4 {
    font-size: 17px;
    font-family: 'Oswald';
    font-weight: 400;
}
p {
    font-family: 'Open sans';
    font-weight: 400;  
}
/*Navbar*/
#color-nav {
  background-color: #660066 !important;
  padding-top: 2.4px;
  padding-bottom: 2.4px;
}
.logo-navbar {
  font-family: 'Oswald';
  font-size: 40px;
  font-weight: 700;
  color: #FFFFFF;
  padding-left: 21px;      
}
#navbarNavDropdown {
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;   
}
.navbar-toggler {
  border: 1px solid;
  color: #FFFFFF7F ;
  border-color: #FFFFFF7F !important;
  margin-right: 21px;
} 
/*hero-section*/
.hero-section {
    height: 500px;
    background-image: url("../img/bg_hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0.125em 0.25em 0.125em #707070;
    margin-top: 60px;
    text-align: center;
  }
.hero-section h1 {
    font-weight: 200;
}
#subtitulo {
    font-weight: 700;
}
.texto-hero {
    padding-top: 380px;
}
/*Sobre Mi*/
.about-me-section {
    display: none;
}


@media (min-width: 480px) {
/*Sobre Mi*/
    .about-me-section {
        display: block;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 86px;
    }
    .about-me-section h3 {
        text-align: center;
        padding-bottom: 66px;
    }
    .about-me-section p {
        line-height: 35px;
        text-align: justify;
    }

}
